<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hosts_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
  <Hosts_Manager.Properties.Settings>
   <setting name="hostsDir" serializeAs="String">
    <value>C:\Windows\System32\drivers\etc\</value>
   </setting>
   <setting name="hostsFile" serializeAs="String">
    <value>hosts</value>
   </setting>
   <setting name="hostsBakFile" serializeAs="String">
    <value>hosts.bak</value>
   </setting>
   <setting name="defaultIP" serializeAs="String">
    <value>0.0.0.0</value>
   </setting>
   <setting name="exeFile" serializeAs="String">
    <value />
   </setting>
   <setting name="exeDir" serializeAs="String">
    <value />
   </setting>
   <setting name="dataFile" serializeAs="String">
    <value />
   </setting>
   <setting name="dataDir" serializeAs="String">
    <value />
   </setting>
  </Hosts_Manager.Properties.Settings>
 </userSettings>
</configuration>